<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/slide1.jpg" height="600" alt="School Front Gate's Image">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">School Entrance</h3>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide2.jpg" height="600" alt="Classroom's Image">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Classroom</h3>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide3.jpg" height="600" alt="Classroom's Image">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Classroom</h3>
                            </div>
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide4.jpg" height="600" alt="Classroom's Image">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Classroom</h3>
                            </div>
                        </div>
                        <!-- End Slide 4 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h2 class="services-header-title">Welcome to M.I.S. MODEL BALIKA INTER COLLEGE</h2>
                    <p class="services-header-body">
                        <em> 
                            The M.I.S. MODEL BALIKA INTER COLLEGE is a girls' secondary school located at Mohalla Kot, Khurja, Dist. Bulandshahr. 
                            It is affiliated with Uttar Pradesh (UP) State Board under school code 1154 and UDISE code 09112600113. 
                            It is well-known for its consistent excellent academic performance. Students of the M.I.S College have consistently 
                            given top-notch performances by securing good grades at the U.P. board high school and intermediate examinations.
                        </em>  
                    </p>
                    <p class="services-header-body">
                        <em> 
                            Founded in 1993, the school believes in encouraging intellectual curiosity and a lifelong journey of learning. 
                            It offers excellent education to approximately 650 students who come from all around the city.
                        </em>  
                    </p>
                    <hr>
                        <B> U.P. Board Results </B>
                    <hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-list-alt fa-5x"></span></p>
                        <h4 class="services-title">2018 - 2019</h4>
                        <p class="services-body">High School: 100%</p>
                        <p class="services-body">Intermediate: 100%</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-list-alt fa-5x"></span></p>
                        <h4 class="services-title">2019 - 2020</h4>
                        <p class="services-body">High School: 95.5%</p>
                        <p class="services-body">Intermediate: 95.29%</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-list-alt fa-5x"></span></p>
                        <h4 class="services-title">2020 - 2021</h4>
                        <p class="services-body">High School: 98.11%</p>
                        <p class="services-body">Intermediate: 95.71%</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
